body
{
  background-image : url("abstract-background-46.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family : 
}

#header
{
  background-color : white;
}
/*  Background Image */
hr.type_5 {
border: 0;
height: 55px;
background-image: url("type_6.png");
background-repeat: no-repeat;
}
