body
{
  background-image : url("abstract-background-46.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family : 
}

#header
{
 /* background-color : white;*/
  overflow: hidden;
  padding: 0px;
  float: top;
  background-color: #D9D3CB;
  clear:right;
/*  margin: 10px;*/
  margin-top: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#kontect
{
    transition: transform .6s; /* Animation */
   margin-left: 5px;
}
#kontect:hover 
{
      transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*  Background Image */
hr.type_6 {
border: 0;
height:55px;
background-image: url("type_6.png");
/*background-repeat: no-repeat;*/
}

/* Gradient color1 - color2 - color1 */

hr.style-one {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

/* Dropdown Button */
.dropbtn {
    background-color: #2f3843;
    color: white;
    padding-right:52px;
    padding-left:52px;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom:5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    width:200px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: floralwhite;
    margin-left: 55px;
    margin-right: 55px;
    width: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:-10000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color:dimgray;
    padding: 12px 16px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #0c5460; color: black; opacity: 0.7;    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #0c5460;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;} 

 .prot
{
  overflow: hidden;
  padding: 0px;
  background-color: #0c5460;
  /*margin: 10px;*/      // Its's for side margin of buttons pane.
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.socio
{
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  opacity:0.8;
  background:#D9D3CB;
}
