body
{
  background-image : url("abstract-background-46.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family : 
}

#header
{
  background-color : white;
}

#kontect
{
  transition-property:width;
#kontect:hover 
{
        width:120%; 
        height:120%;
}
/*  Background Image */
hr.type_6 {
border: 0;
height:55px;
background-image: url("type_6.png");
/*background-repeat: no-repeat;*/
}

/* Gradient color1 - color2 - color1 */

hr.style-one {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
