body
{
  background-image : url("abstract-background-46.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color : #5F9EA0;
  font-family : 
}

#header
{
  bgcolor : white;
}
